@page "/Vehiculos"


@using Vehiculos2019_1498.Data

<PageTitle>Vehiculos registrado </PageTitle>
<h1>Lista de Vehiculos</h1>

<label for="txtvehiculos">Vehiculos</label>
<input type="text">
<label for="txtmarca">Marca</label>
<input type="text">
<label for="txtmodelo">Modelo</label>
<input type="text">
<label for="txtaño">Año</label>
<input type="text">
<label for="txt">Color</label>
<input type="text">

<button>Guardad</button>
<button>Editar</button>

<div class="mt-4"></div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Vehiculos</th>
            <th>marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>


</table>


